// Variables

$website-width: 1280px;
$main-color: #ffeb3b;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$light-main-color: #fff59d;
$bg-image: url('../img/showcase.jpeg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #111;
  } @else {
    @return #fff;
  }
}
