/* Very small devices (phones, 320px and down) */
@media (max-width: 310px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 5rem;
      border-bottom: 3px solid $main-color;

      .header-content h1 {
        font-size: 1rem;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      border-bottom: 3px solid $main-color;

      .header-content h1 {
        font-size: 3rem;
      }
    }

    &-inner {
      height: 10rem;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-color;

        &:last-child {
          padding-bottom: 0;
          border: none;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          'bioimg'
          'bio'
          'award1'
          'award2'
          'award3';
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #555;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border: none;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      height: 5rem;
      padding: 1rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #header-home {
    .header-content {
      padding-top: 5rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #header-home {
    .header-content {
      padding-top: 16.8rem;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1224px and up) */
@media only screen and (min-width: 1224px) {
  #header-home {
    .header-content {
      padding-top: 16.8rem;
    }
  }
}

/* Extra, extra large devices (widescreen laptops and desktops, 1824px and up) */
@media only screen and (min-width: 1824px) {
  #header-home {
    .header-content {
      padding-top: 27.4rem;

      h1 {
        font-size: 5rem;
      }
    }
  }
}

// LANDSCAPE
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
