@import 'config';
@import 'utilities';
@import 'item_grid';

// General Styles
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-family: 'Dosis', sans-serif;
}
::-webkit-input-placeholder {
  font-family: 'Dosis', sans-serif;
}
:-moz-placeholder {
  font-family: 'Dosis', sans-serif;
}
::-moz-placeholder {
  font-family: 'Dosis', sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Dosis', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;

    &.social .fab {
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 20px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.8);
      }

      &.fa-twitter {
        color: #38a1f3;
      }
      &.fa-github {
        color: #000;
      }
      &.fa-linkedin {
        color: #0077b5;
      }
    }

    &.social a {
      border: none;
    }
  }

  a {
    padding-bottom: 0.5rem;
    border-bottom: 3px transparent solid;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-color;
    }

    &.current {
      border-color: $light-color;
    }
  }
}

// Header
#header {
  &-home {
    height: 100vh;
    background: $bg-image no-repeat center center / cover;
    color: #fff;

    .header-content {
      padding-top: 20%;
      text-align: center;

      h1 {
        margin-bottom: 44px;
        font-size: 4rem;
        line-height: 1.2;
        text-shadow: 1.5px 1.5px 2px $main-color, 0 0 1em #29b6f6,
          0 0 0.2em #29b6f6;
      }
    }
  }

  &-inner {
    height: 5.5rem;
    background: $bg-image no-repeat center 12.1% / cover;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections

// About Sections

// Work Sections
.work-gallery {
  height: 550px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
  background-color: transparent;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 238px;
  height: 333px;
  border: 4px solid #222;
  border-radius: 6px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-container .card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  z-index: 2;
}

/* Style the back side */
.card-back {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  line-height: 1.8rem;
  transform: rotateY(180deg);
}

.card-img {
  height: 180px;
  width: 238px;
  border-bottom: 2px solid $main-color;
}

.tech-stack {
  padding-top: 1rem;
  line-height: 1.4rem;
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name     email'
        'subject  phone'
        'message  message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    // Invisible Recaptcha styling
    .g-recaptcha {
      display: inline-block;
    }

    button[type='submit'] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 1rem;
      border-bottom: 2px solid $main-color;
      text-align: center;

      & h3 {
        color: $light-main-color;
      }

      & i {
        color: $light-main-color;
      }
    }
  }

  &-c {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}

// Footer
#main-footer {
  height: 5rem;
  background: $dark-color;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social .fab {
      height: 20px;
      width: 20px;
      margin-right: 1rem;
      padding: 0.5rem;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;

      &:hover {
        background: $main-color;
        color: set-text-color($main-color);
      }
    }

    .social .fa-twitter {
      color: #38a1f3;
    }
    .social .fa-github {
      color: #fff;
    }
    .social .fa-linkedin {
      color: #0077b5;
    }
  }
}

// Import Media Queries
@import 'media';
